.popcard{
    background-color: white;
    width: 60%;
    margin: 12vw auto 0 auto;
    padding: 2vw;
    border: none;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}
.popcard h3{
    text-align: center;
    color: #4274EA;
    font-size: 150%;
    margin: 0 0 1vw 0;
}
.popcard ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.popcard li{
    list-style: none;
    background-color: #4274EA;
    color: white;
    padding: 1vw;
    margin: 1vw;
    border: #4274EA 1px solid;
    border-radius: 15px;
    font-size: 90%;
}
.popcard li:hover{
    background-color: #E0F6FF;
    color: #4274EA;
    cursor: pointer;
}
@media only screen and (max-width: 670px) {
    .popcard{
        width: 90%;
        margin-top: 25vw;
    }
    .popcard h3{
        margin-bottom: 3vw;
    }
    .popcard li{
        border-radius: 5px;
        font-size: 90%;
    }
}